<!doctype html>
<head>
    <script src="https://cdn.anychart.com/releases/8.12.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.12.0/js/anychart-heatmap.min.js"></script>
    <script>
        anychart.onDocumentLoad(function () {
            var data ={{.Data}};
            var chart = anychart.heatMap(data);
            // set chart title
            chart.title("ASW Neunkirchen Räume");
            // set the container element
            chart.container("chart");

            var customColorScale = anychart.scales.ordinalColor();
            customColorScale.ranges([
                {less: 0},
                {greater: 1}
            ]);
            customColorScale.colors(["#00ff00", "#ff0000"]);

            chart.tooltip().format("{%text}");
            chart.labels().format("");

            // set the color scale as the color scale of the chart
            chart.colorScale(customColorScale);

            // chart.yAxis().names({{.Rooms}});

            // initiate chart display
            chart.draw();
        });
    </script>
</head>
<body>
<div id="chart" style="width: 100vw; height: 100vh;"></div>
</body>
</html>